body{
    fonte: 15px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color:  rgb(255, 234, 200);
    
}

.contenedor{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}
.boton1{
    height: 10px;
    background: rgb(107, 27, 90);
    border: 20;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

header{
    background:rgb(95, 250, 255);
    color:rgb(8, 8, 8);
    padding-top:0px;
    min-height:0px;
    border-bottom: rgb(95, 250, 255) 4px solid;
  }

header ul {
    border-bottom: rgb(95, 250, 255) 20px solid; 
}
header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #marca img{
    width:310px;
    float: left;
}

header #marca h1{
    margin: 0;
    font-size: 50px;
    text-align: center;
}

header #marca h2{
    font-size: 25px;
    text-align: center;
}

header nav{
    float: right;
    margin-top: 100px;
}

header .resaltado, header .actual a{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

header a:hover{
    color: rgb(94, 9, 9);
    font-weight: bolder;
}
#cajas{
    margin-top:40px;
}

#cajas .caja{
  float:left;
  text-align: justify;
  width:55%;
  padding:40px;

}

#cajas .caja img{
  width:450px;
}

input, textarea{
    width: 100%;
    height: 35px;
    border: 2px solid green; 
    margin-bottom: 5px;
  }
  
  
  textarea{
    height: 120px;
  }
  
  input[type='submit']{
    background-color: #309639;
    color: rgb(184, 19, 19);  
  }
  #cajas2{
    margin-top:40px;
}

#cajas2 .caja2{
  float:left;
  text-align: justify;
  width:50%;
  padding:30px;

}
  
/* Footer o pie de pagina */
footer{
	padding: 20px;
	margin-top: 20px;
	color: rgb(2, 2, 2);
	background-color:rgb(95, 250, 255);
	text-align: center;
}	